.jumboProf{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: auto;
    background-image: url("../images/secretariat.jpg");
    background-size: cover;
    background-position: center;
}

.jumboBut{
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 100px;
    margin-bottom: 200px;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}
