.TeachersPage{
    position: absolute;
    top: 750px;
    left: 100px;
    background-color: white !important;
}

.TeachersForm {
    margin-left: 350px;
    margin-right: 350px;
    font-size: 200%;
    display: table;
}

.TeachersManagementLabel {
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 30px;
    color: black;
    display: inline-block;
    float: left;
    clear: left;
}

.TeachersManagementInput {
    padding-right: 10px;
    width: 350px;
    display: inline-block;
    float: right;
}

.TMB {
    font-size: 20px;
    margin-left: -150px;
    margin-top: 50px;
    border: none;
    background-color: cyan;
    color: black;
	text-align: center;
	border-radius: 10px;
	font-weight: bold;
}

.TMB:hover {
	color: blue;
}