.table-G{
    margin-top: 200px;
    margin-left: 520px;
}

.jumboStud{
    margin-left: -220px;
    margin-top: 70px;
    height: 550px;
    width: 1534.9px;
    background-image: url("../assets/img/stud.jpg");
    background-size: cover;
    background-position: center;
}